* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #292522;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1432px;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
}
.g-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
